.draggable {
  width: 100px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: lightgoldenrodyellow;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 5px;
  padding: 2px 3px;
}

table {
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.colspace {
  width: 100%;
  height: 650px;
}
